# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/

# Logs & temp
*.log
*.tmp
*.db

# OS junk
Thumbs.db
Desktop.ini
.DS_Store
